.cart {
    display: grid;
    place-content: center;
    padding: 20px;
    margin: 0 auto;
}

.cart__items {
}

.cart__item {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-bottom: 25px;
}

.cart__item:first-child {
    border-top: 1px solid #000;
}

.cart__item:last-child {
    border-bottom: 1px solid #000;
}

.cart__item__photo img {
    max-width: 100px;
    height: auto;
}

.cart__item__block {
    display: flex;
    column-gap: 15px;
}

.cart__item__desc {

}

.cart__item__name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.cart__item__size {
    font-size: 0.8rem;
    font-weight: 300;
}

.cart__item__price {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.cart__item__count {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.btn_minus, .btn_plus, .btn_delete {
    color: #474747;
    border-radius: 50%;
    cursor: pointer;

    transition: 0.3s background-color ease-in-out;
}

.btn_minus:hover, .btn_plus:hover, .btn_delete:hover {
    background-color: #a53737;
    color: white;
}

.count_number {

}

.cart__total_price {
    text-align: right;
    padding: 0 5%;
}

.cart__total_price span.text {
    font-weight: 500;
}


.cart__form form{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 0 5%;
}

.cart__form label {
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.cart__form input {
    height: 40px;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2.5%;
    /*margin-bottom: 5%;*/
}

.cart__form button {
    /*min-width: 120px;*/
    /*margin: 0 auto;*/
    height: 40px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;

    transition: all .3s ease-in-out;

}

.cart__form button:is(:focus, :hover) {
    background-color: #2d2b2b;
    border: 2px solid #a53737;
}

.form__error__message,
.cart__non_fields_errors {
    color: red;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.loader_spinner {
    margin-top: 10%;
    display: grid;
    place-content: center;
}



@media screen and (max-width: 510px) {
    .cart {
        margin-top: 15%;
    }

    .cart__item:first-child {
        border-top: none;
    }

    .cart__item {
        /*max-width: 320px;*/
    }

    .cart__item__block {
        flex-direction: column;
    }

    .cart__item__desc {
        margin-bottom: 10px;
    }



}