.retrieve__item {
    padding: 0 5%;
}

.retrieve_item__header__text {
    display: flex;
    align-items: center;
}

.retrieve_item__header__text a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.retrieve_item__header__text span {
    margin-left: 5px;
}

.retrieve_item__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
}

.retrieve_item__header__sign {
    font-size: 2rem;
}

.retrieve_item__content__photo {
    max-width: 400px;
    border-right: 1px #474747 solid;
}

.retrieve_item__content__photo img {
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

.retrieve_item__content {
    margin-top: 2.5%;
    display: flex;
    flex: 1 1 0;
}

.retrieve_item__content__retrieve_text {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    row-gap: 5%;
}

.retrieve_text__header {

}

.retrieve_text__price {
    font-size: 1.5rem;
    font-weight: 400;
    color: #474747;
}

.retrieve_text__price span {
    font-weight: 300;
    text-decoration: line-through;
}

.retrieve_text__button {
    background-color: #474747;
    color: #fff;
    padding: 2.5%;
    max-width: 150px;
    border-radius: 5%;
    font-size: 1.5rem;
    cursor: pointer;

    transition: 0.3s background-color ease-in-out;
}

.retrieve_text__button:hover {
    background-color: #5a5959
}

.retrieve_text__undertext {
    color: #474747;
    font-weight: 300;
}

.retrieve_item__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.retrieve_item__form_inputs input {
    margin-right: 5px;
}

/* RADIO */
.form_radio_group {
    display: flex;
    overflow: hidden;
}
.form_radio_groupItem:last-child {
}
.form_radio_group input[type=radio] {
    display: none;
}
.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    user-select: none;
    background-color: #474747;
    color: #fff;
}

.form_radio_group .form_radio_groupItem:first-child label {
    border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_groupItem:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;

}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
    background: #303050;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.retrieve_item__size_error {
    color: red;
    font-weight: 300;
    letter-spacing: 1.5px;
}



@media screen and (max-width: 700px) {
    .retrieve_item__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .retrieve_item__content__photo {
        margin-bottom: 5%;
        max-width: auto;
    }
    .retrieve_item__content__photo img {
        max-width: auto;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .retrieve_item__content__retrieve_text {
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        text-align: center;
    }

    .retrieve_text__button {
        margin: 0 auto;
    }

    .retrieve_text__header,
    .retrieve_text__price,
    .retrieve_text__button,
    .retrieve_text__undertext {
        margin-bottom: 5%;
    }

    .form_radio_group {
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    .retrieve_item__size_error {
        margin-top: 1%;
        margin-bottom: 5%;
    }
}